* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
}

#stage {
    margin-top: 40px;
  position: relative; /* ⭐ 기준 */
  width: 1440px;
  height: 1024px;
  overflow: hidden;
}

/* 배경 */
#mainImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 1;
}

/* 텍스트 */
#mainText {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

/* YES 버튼 */
#buttonY {
  position: absolute;
  bottom: 600px;
  left: 38%;
  z-index: 3;
  cursor: pointer;
}

#buttonY:hover{
    content: url("img/Property\ 1=Variant2.jpg");
    transform: scale(1.07); 
}

/* NO 버튼 */
#buttonN {
  position: absolute;
  bottom: 600px;
  left: 52%;
  z-index: 3;
  cursor: pointer;
  transition: all 0.15s ease; /* ⭐ 도망 애니메이션 */
}
